:root {
	/* marges : */
  --margeDeLaPage: 100px;
  --espaceEntreLesBlocs : 50px;

  /* couleurs */
  --couleurTitre :beige;
  --couleurDuTexte : beige;
  --couleurFond : rgb(5, 5, 8);

  /* dimension des blocs */
  --largeurPremierBloc : 500px;
  --largeurAside : 250px;


  /* taille des textes :  */
  --fontsizeGlobal : 16px;
  --fontSizeH1 : 40px;
  --fontSizeH2 : 40px;
}

html{
	font-family: "feron";
	font-size: var(--fontsizeGlobal);
 height: 100vh;
 overflow-y: hidden;
 display: flex;
 background-color: var(--couleurFond);
 color: var(--couleurDuTexte);
}


/*typo*/
@font-face {
  font-family: "feron";
  src: url("../Feroniapi-MediumItalic.woff") format("woff");
}

/* possibilité de mettre plusieurs typos 
@font-face { 
  font-family: "feron";
  src: url("../Feroniapi-MediumItalic.woff") format("woff");
}*/

*{
	box-sizing: border-box;
}

header{
	width: var(--largeurPremierBloc);
	background-color: rgb(0, 0, 0);
}

aside{
	width: var(--largeurAside)
}

h1{
	color: var(--couleurTitre);
	font-size: var(--fontSizeH1);
	font-style: italic;
	margin-bottom: 10px;
}

h2{
	color: var(--couleurTitre);
	font-size: var(--fontSizeH2);
	font-style: italic;
	margin-bottom: 10px;
}

body{
	display: flex;
	height: 100%;
	padding: var(--margeDeLaPage);
	position: relative;
}

body>*{
	margin-right: var(--espaceEntreLesBlocs);
}

.galerie_horizontale{
	  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.galerie_horizontale>*{
	  width: auto;
  height: 30%;
  position: relative;
}

.fullPage{
	height: 100vh;
	position: relative;
	top: calc( var(--margeDeLaPage)* -1 );
}

figure,video{
	height: 100%;
	width: auto;
}

figcaption{
	font-style: italic;
}


.class{
	font-family : "feron";
}

/* canvas{display: none;} */


.premier{
	background-color: rgb(0, 0, 0);
}

#test{
	color: rgb(244, 238, 189);
}